body{
    background-image: url(../img/pexels-photo-257794.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color:antiquewhite;
    text-align: center;
    font-style: italic;
}